

/*Navbar*/
.customNav {
    position: fixed;
    width: 100%;
    background-color: #17a2b8 !important;
    z-index: 10;
    margin-bottom: 5%;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  
  .navbar-brand{
    font-size: x-large;
    color: antiquewhite !important;
    font-weight: bold;
  }

  .nav-link, .dropdown-item{
    color: antiquewhite !important;
  }

  .nav-item {
    margin: 0px 15px;
  }



  .dropdown-item:focus, .dropdown-item:hover {
      text-decoration: none;
      background: whitesmoke;
      color: cadetblue !important;
  }

  .dropdown-menu{
    background-color: #17a2b8;
    border: none;
  }

.card{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: none;
    background-color: whitesmoke;
    border-radius: 5%;
    margin-top: 5%;

}

.card-img-top{
    border-radius: 5%;
}

h2, h3, .card-title, .card-text{
 color: cadetblue;   
 font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.display-4{
  font-weight: bold;
}

p{
    color: rgb(9, 67, 69);   
    text-align: center;
    margin-top: 2%;
}

.jumboCopy {
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 5%;
}

.Avatar{
    border-radius: 5%;
}


.section-heading{
    padding-top: 5%;
    padding-bottom: 2.5%;
    font-weight: bold;
}


.button-col{
    text-align: center;
    padding: 2%;
}
/* 
.btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out ;
    -o-transition: all .4s ease-in-out ;
    -webkit-transition: all .4s ease-in-out ;
    transition: all .4s ease-in-out ;
}

.btn:focus {
    outline: none;
} */

.btn {
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn:hover, 
.btn:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgb(159, 197, 249, 0);
}